{{#with article}}
    <p><a href="/admin/blog">Back to blog</a></p>
    <p><a href="/admin/blog/{{_id}}/delete">Delete post</a></p>
    <form method="post" action="">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" value="{{title}}">
        <br>
        <label for="content">Content</label>
        <textarea id="content" name="content">{{content}}</textarea>
        <br>
        <input type="submit" value="Edit">
    </form>
{{/with}}