<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/adminpanel.css"/>
    </head>
    <body>
        <nav>
            <a href="/admin">Admin</a>
            <span>{{__ "greeting" user.username}}</span>
            <a href="/admin/blogi">Blogi</a>
            <a href="/admin/semestrid">Semestrid</a>
            <a href="/">MITSi avaleht</a>
            <a href="/logout">Logout</a>
        </nav>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
