<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <!--<link rel="stylesheet" href="/adminpanel.css"/>-->
    </head>
    <body>
        <nav>
            <strong>Admin</strong>
            <span>{{__ "greeting" user.username}}</span>
            <a href="/">Main site</a>
            <a href="/logout">Logout</a>
            <a{{!-- href="/admin/user"--}}>Kasutaja</a>
            <a{{!-- href="/admin/data"--}}>Andmed</a>
            <a{{!-- href="/admin/logs"--}}>Logid</a>
            <a{{!-- href="/admin/structure"--}}>Struktuur</a>
            <a href="/admin/blogi">Blogi</a>
        </nav>
        <hr>
        {{{body}}}
    </body>
</html>
