<h1>Kustuta kuulumine?</h1>
<p>{{membership.semester.short}} - {{membership.member.fullName}} - {{membership.team.short}}{{#if membership.leader}} juht{{/if}}</p>
<form method="post" action="">
    <input type="submit" value="Jep">
    <a href="..">Ei</a>
</form>
