<h1>Semestrid</h1>
<h3>Lisa semester</h3>
<form method="post" action="">
    <label for="year">Aasta</label>
    <input id="year" type="number" name="year" value="2019" required>
    <label for="season">Pool</label>
    <select id="season" name="season" required>
        <option value="k">Kevad</option>
        <option value="s">Sügis</option>
    </select>
    <input type="submit" value="Lisa">
</form>
<h3>Semestrid</h3>
<p>Viimane semester on see, mida näidatakse liikmete nimekirjas!</p>
<ul>
    {{#each semesters}}
        <li>{{this.full}} <a href="/admin/semestrid/{{this._id}}/kustuta">Kustuta</a></li>
    {{/each}}
</ul>

<script>
    document.getElementById("year").value = new Date().getFullYear();
</script>