<section id="error">
    <div class="container">
        <div class="content">
            <h1>404 - Lehekülge ei leitud!</h1>
            <p>Kui siin peaks midagi olema, siis kirjuta juhatusele <a href="mailto:mits.juhatus@lists.ut.ee">mits.juhatus@lists.ut.ee</a> või lükka GitHubi issue: <a href="https://github.com/ndri/mits.ee">https://github.com/ndri/mits.ee</a>.</p>
        </div>
    </div>
</section>