<section id="aboutlanding">
    <div class="container">
        <div class="content">
            <h1>MAT-INF TUDENGISELTS</h1>
            <p><strong>MAT-INF tudengiselts</strong> ehk <strong>MITS</strong> on Tartu Ülikooli matemaatika, matemaatilise statistika ja informaatika tudengeid ühendav erialaselts, mis tegutseb aktiivselt oma teaduskondade tudengite argipäeva elavdamise ja heaolu tagamisega.</p>
            <p>Seisame selle eest, et ülikool ja reaalteaduste õppimine oleks enamat, kui pelgalt uute teadmiste omandamine.</p>
            <p>Meie värvikast sündmustepagasist leiab iga tudeng endale midagi meelepärast. Korraldame erinevad akadeemilisi üritusi (paneeldiskussioone, lektorite õhtuid, seminare ja töötubasid), uusi sõpru võib leida aga seltskonna- ning sotsiaalüritustel (lauamängu- ja filmiõhtutel, teemapidudel, LANidel, mälumängudel). Seejuures aitavad koolipingest vabaneda iganädalased trennid (jooksu-, jalgpalli-, korvpalli- ja võrkpallitrennid). Oleme ka esmakursuslastele mõelnud, kellele tutvustame õiget ülikoolielu mentorprogrammi abil. Iga päev sünnib aga värskeid ideid ning sündmuste nimekiri aina pikeneb.</p>
        </div>
    </div>
</section>
<section id="description">
    <div class="container">
        <div class="content">
            <p><strong>Missioon:</strong> MAT-INF tudengiseltsi missioon on korraldada mitmekesiseid sündmusi ning teha järjepidevat koostööd arvutiteaduste ja matemaatika-statistika instituudiga tagamaks tudengite hariduslikku heaolu.</p>
            <p><strong>Visioon:</strong> MAT-INF tudengiseltsi visioon on parendada iga MAT-INF tudengi heaolu ülikooliaja vältel ning anda kaasa vajalikud oskused, teadmised ja tutvused panustamaks Eesti ühiskonna jätkusuutlikkusse arengusse.
            </p>
        </div>
    </div>
</section>
<section id="juhatus">
    <div class="container">
        <div class="content">
            <h1>Juhatus</h1>
            <p>Juhatuse eesmärk on luua seltsis keskkond, kus tiimijuhtidel oleks meeldiv ja mugav koos oma töögrupiga korraldada just neile meelepäraseid üritusi. Hoolitseme välise suhtluse eest seltsi ja instituutide vahel ning otsime alati uusi väljundeid ning võimalusi, et ükski lennukas idee ei jääks teostuse taha pidama.</p>
            <div class="peoplegrid">
                <div class="person">
                    <img alt="Krister Looga" src="/media/liikmed/Krister.jpg">
                    <h3 class="name">Krister Looga</h3>
                    <div class="role">Esimees</div>
                </div>
                <div class="person">
                    <img alt="Anett Klaanberg" src="/media/liikmed/Anett.jpg">
                    <h3 class="name">Anett Klaanberg</h3>
                    <div class="role">Aseesimees</div>
                </div>
                <div class="person">
                    <img alt="Joosep Kaimre" src="/media/liikmed/Joosep.jpg">
                    <h3 class="name">Joosep Kaimre</h3>
                    <div class="role">Finantsjuht</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="history">
    <div class="container">
        <div class="content">
            <h1>Ajalugu</h1>
            <p>Esmakordselt sai MAT-INF tudengiselts alguse Taivo Pungase eestvedamisel 23. aprillil 2014. Kuni 2016. aasta lõpuni korraldas MITS erinevaid sündmusi ning seisis tudengite heaolu eest. Järelkasvu puudumise tõttu aga pandi pillid mõneks ajaks kotti.</p>
            <p>MITS taasasustati 20. aprillil 2018, kui 10 aktiivset noort võtsid südameasjaks oma teaduskondade tudengite elu värvikamaks muuta. Huvilisi leidus veelgi ning esimesed vägiteod saadeti korda 30-pealise tiimiga, millest esimene suursündmus oli networking-seminar Make MITS Great Again. Taasalustava organistsiooni kohta oli sündmus väga edukas - kohal käis ligikaudu 150 tudengit ning huvi seltsi vastu kasvas hüppeliselt. Tänaseks tegutseb MITSis juba {{amount}} aktiivset liiget. </p>
        </div>
    </div>
</section>
<section id="teams">
    <div class="container">
        <div class="content">
            <h1>Töögrupid</h1>
            <p>Meie lähenemine on, et erisugused sündmused nõuavad ka mitmeid vahvaid töögruppe. Seetõttu oleme jaotanud oma organisatsiooni liikmed just neile meeldivasse töögruppi. Iga töögrupi täpsematest suundadest saad lugeda juba altpoolt!</p>

            <div class="teamgrid">
                <div class="teamdescription">
                    <h2>Meediatiim</h2>
                    <p>Meediatiim on loodud selleks, et MITS paistaks sotsiaalmeedias silma nii põnevate postituste kui ka pilkupüüdvate visuaalidega. Lisaks hoolitseb meediatiim seltsi sponsorlussuhete loomise ning ka edaspidise koostöö hoidmise eest. Tihedalt tehakse koostööd ka kõikide teiste töögruppidega. </p>
                    <p>Enda sekka ootame nii tõelisi sotsiaalmeedia- kui ka kujundusgurusid, häid suhtlejaid ning lennukate ideedega tudengeid!</p>
                </div>
                <div class="person">
                    <img alt="Maria Pibilota Murumaa" src="/media/liikmed/Maria Pibilota.jpg">
                    <h3 class="name">Maria Pibilota Murumaa</h3>
                    <div class="role">Meediatiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Mentorprogramm</h2>
                    <p>Mentorprogrammi töögrupp on seadnud endale eesmärgiks tagada, et iga esmakursuslane elaks ülikooliellu sisse võimalikult sujuvalt, saades tuge ja nõu vanemkursuslaste käest. Töögrupp tegeleb mentorprogrammi arendamisega, viies kokku mentorid ja esmakursuslased, et kursustevaheline suhtlus oleks tihedam ja ühtsem. Lisaks tegeleb töögrupp motiveeritud mentorite otsimise ja toetamisega vastavate koolituste ja koosolekute näol. Ootame sind oma tiimi, kui Sul on põnevaid ideid, kuidas esmakursuslaste esimesi kuid ülikoolis veelgi paremaks muuta.</p>
                    <p>Loe lähemalt <a href="/mentor">mentorprogrammi lehelt</a>.</p>
                </div>
                <div class="person">
                    <img alt="Magnar Vares" src="/media/liikmed/Magnar.jpg">
                    <h3 class="name">Magnar Vares</h3>
                    <div class="role">Mentorprogrammi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Spordiürituste tiim</h2>
                    <p>Sporditiimis on inimesed, kelle jaoks on laused “No pain, no gain” ja “You are your only limit” igapäevane mantra. Teeme ise trenni ja loome kaastudengitele võimalusi koos trennis käia. Tegevused piirduvad ainult töögrupi liikmete kujutlusvõimega. Sporditiimis saab korraldada erinevaid aktiivseid üritusi, jooksutrennist matkani ja jõusaalist paintballi mängimiseni. Lihased vihaseks ja tule sporditiimi ;)</p>
                </div>
                <div class="person">
                    <img alt="Allan Rist" src="/media/liikmed/Allan.jpg">
                    <h3 class="name">Allan Rist</h3>
                    <div class="role">Spordiürituste tiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Sotsiaalürituste tiim</h2>
                    <p>Sotsiaalsete ürituste töögrupi eesmärgiks on ühendada MAT-INF tudengeid läbi meeldejäävate pidude. Töögrupi peamiseks ülesandeks ongi korraldada just selliseid sündmusi, kus on hea muusika, organiseeritud tegevused, palju süüa ning miks mitte ka tsipake vägijooki.</p>
                </div>
                <div class="person">
                    <img alt="Liis Hiie" src="/media/liikmed/Liis.jpg">
                    <h3 class="name">Liis Hiie</h3>
                    <div class="role">Sotsiaalürituste tiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Siseürituste tiim</h2>
                    <p>Siseürituste tiimi ülesanne on motiveerida kõiki MITSi tegevliikmeid edasisteks tegudeks. Oma tiimiga korraldame MITSi liikmeid ühendavaid sündmusi, kus nad saavad mõnusalt omakeskis aega veeta. Olgu nendeks kuumad saunaõhtud, popcornirikkad kinokülastused või särisevad grillpeod. Seeläbi loome ühtsema meeskonna, kellega koos informaatikute ja matemaatikute ülikooliaega elavdada.</p>
                </div>
                <div class="person">
                    <img alt="Laura Kaldjärv" src="/media/liikmed/Laura.jpg">
                    <h3 class="name">Laura Kaldjärv</h3>
                    <div class="role">Siseürituste tiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Seltskonnaürituste tiim</h2>
                    <p>Kas oled käinud kunagi sõpradega mõnel lauamänguõhtul või võtnud osa LANist? Kuidas oleks filmiõhtuga sõprade seltsis? Need üritused on vaid osake sellest, millega tegeleb seltskonnaürituste grupp. Oled oodatud meie sõbralikku seltskonda, kui sind huvitab ägedate ürituste korraldamine oma sõpradele ning teistele.</p>
                </div>
                <div class="person">
                    <img alt="Andri Soone" src="/media/liikmed/Andri.jpg">
                    <h3 class="name">Andri Soone</h3>
                    <div class="role">Seltskonnaürituste tiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Akadeemiliste ürituste tiim</h2>
                    <p>Töögrupp korraldab põnevaid harivaid üritusi nagu erinevaid töötubasid ja seminare. Meie tiim annab Tartu matemaatika- ja informaatikatudengitele võimaluse harida ning arendada ennast oma valdkondades läbi mitmetahuliste sündmuste.</p>
                </div>
                <div class="person">
                    <img alt="Pilleriin Jukk" src="/media/liikmed/Pilleriin.jpg">
                    <h3 class="name">Pilleriin Jukk</h3>
                    <div class="role">Akadeemiliste ürituste tiimi juht</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="members">
    <div class="container">
        <div class="content">
            <h1>Liikmed</h1>
            <p>MITSi kuulub {{amount}} tegusat tegelast, kelle täisnimekirja näeb <a href="/liikmed">siit</a>.</p>
            <p>Lõpetanud liikmetega saab aga tutvuda <a href="/vilistlased">vilistlaste lehel</a>.</p>
            <p>Meiega saad liituda sügissemestri alguses toimuva kandideerimisega.</p>
        </div>
    </div>
</section>
<section id="membersgrid">
    {{#each members}}
        <img alt="{{this.firstName}}" src="/media/liikmed/{{this.photo}}">
    {{/each}}
</section>