<!DOCTYPE html>
<html lang="et">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">

        <meta name="description"
              content="Tartu Ülikooli matemaatika ja informaatika tudengeid ühendav erialaselts, mis tegutseb aktiivselt tudengite argipäeva elavdamise ja heaolu tagamisega."/>
        <meta name="keywords"
              content="MITS, MAT-INF tudengiselts, ATI, TÜ, Tartu Ülikool, matemaatika, mathematics, informaatika, computer science, society, mits.ee, eesti, estonia, tartu"/>
        <meta name="author" content="MITS">
        <meta name="viewport" content="width=device-width">

        <!-- https://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">

        <!-- https://moz.com/blog/meta-data-templates-123 -->
        <meta property="og:title" content="MAT-INF tudengiselts"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://www.mits.ee/"/>
        <meta property="og:image" content="https://mits.ee/preview.png"/>
        <meta property="og:description"
              content="MAT-INF tudengiselts ehk MITS on Tartu Ülikooli matemaatika, matemaatilise statistika ja informaatika tudengeid ühendav erialaselts, mis tegutseb aktiivselt matemaatika-informaatika tudengite argipäeva elavdamise ja heaolu tagamisega."/>

        <!-- CSS -->
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/animatelogo.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800">

        <!-- JS -->
        <script src="/main.js"></script>
    </head>
    <body>
        <nav id="navbar">
            <div class="container">
                <div id="left">
                    <a title="Avaleht" href="/">
                        <div id="navlogo" class="svg"></div>
                    </a>
                </div>
                <div id="right">
                    <a href="/meist">Meist</a>
                    <a href="/üritused">Üritused</a>
                    <a href="/liitumine">Liitumine</a>
                    <a href="/mentor">Mentor</a>
                    {{!--<a href="/blogi">Blogi</a>--}}
                    {{!--<a href="/galerii">Galerii</a>--}}
                    {{#if user}}
                        <a href="/admin">Admin</a>
                    {{!--<a href="/logout">Logi välja</a>--}}
                    {{else}}
                    {{!--<a href="/login">Logi sisse</a>--}}
                    {{/if}}
                </div>
                <div id="button">
                    <a title="Menüü" id="menubutton">
                        <div id="menubuttonicon" class="svg"></div>
                    </a>
                </div>
            </div>
        </nav>
        <main>
            {{{body}}}
        </main>
        <footer>
            <div class="container">
                <div class="content">
                    <div class="footergrid">
                        <div class="column">
                            <h2>Leht</h2>
                            <div class="linkwrapper"><a href="/">Avaleht</a></div>
                            <div class="linkwrapper"><a href="/üritused">Üritused</a></div>
                            {{!--<div class="linkwrapper"><a href="/blogi">Blogi</a></div>--}}
                            {{!--<div class="linkwrapper"><a href="/galerii">Galerii</a></div>--}}
                            {{!--<div class="linkwrapper"><a href="/bränd">Bränd</a></div>--}}
                            <div class="linkwrapper"><a href="https://github.com/ndri/mits.ee">Lähtekood</a></div>
                            <div class="linkwrapper"><a href="/login">Logi sisse</a></div>
                        </div>
                        <div class="column">
                            <h2>Selts</h2>
                            <div class="linkwrapper"><a href="/meist">Meist</a></div>
                            <div class="linkwrapper"><a href="/liikmed">Liikmed</a></div>
                            <div class="linkwrapper"><a href="/vilistlased">Vilistlased</a></div>
                            <div class="linkwrapper"><a
                                    href="https://drive.google.com/file/d/1vaG8yRhtSCdslC0qqvz_lGY3RJ8W5l3c/view">Põhikiri</a>
                            </div>
                            {{!--<div class="linkwrapper"><a href="/liitumine">Liitumine</a></div>--}}
                            <div class="linkwrapper"><a href="/mentor">Mentorprogramm</a></div>
                            <div class="linkwrapper"><a href="/liitumine">Liitumine</a></div>
                            {{!--<div class="linkwrapper"><a href="/huvigrupid">Huvigrupid</a></div>--}}
                        </div>
                        <div class="wide column">
                            <h2>Kontakt</h2>
                            <div class="linkwrapper">
                                <span class="icon email"></span>
                                <a title="Email" href="mailto:mits.juhatus@lists.ut.ee">mits.juhatus@lists.ut.ee</a>
                            </div>
                            <div class="linkwrapper">
                                <span class="icon facebook"></span>
                                <a title="Facebook" href="https://www.facebook.com/MITS.ATI">MAT-INF tudengiselts</a>
                            </div>
                            <div class="linkwrapper">
                                <span class="icon instagram"></span>
                                <a title="Instagram" href="https://www.instagram.com/mits_selts/">mits_selts</a>
                            </div>
                            <div class="linkwrapper">
                                <span class="icon marker"></span>
                                <a title="Aadress" href="https://www.google.ee/maps/place/Juhan+Liivi+2,+50409+Tartu">
                                    J. Liivi 2, 50409 Tartu, Eesti
                                </a>
                            </div>
                        </div>
                        <div class="wholerow column">
                            <div id="footerlogo" class="svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
