<section id="members">
    <div class="container">
        <div class="content">
            <h1>Liikmed</h1>
            <h3>Juhatus</h3>
            <ul>
                <li><strong>Krister Looga</strong> - 2018s akadeemiline, <strong>2019k esimees</strong></li>
                <li><strong>Anett Klaanberg</strong> - 2018k meedia, <strong>2018s meedia</strong>, <strong>2019k aseesimees</strong></li>
                <li><strong>Joosep Kaimre</strong> - 2018s sots, <strong>2019k finantsjuht</strong></li>
            </ul>
            <h3>Seltskonnaürituste töögrupp</h3>
            <ul>
                <li><strong>Andri Soone</strong> - 2018k sise-selts, <strong>2018s selts</strong>, <strong>2019k selts</strong></li>
                <li><strong>Brigitta Rebane</strong> - 2018k mentor, 2019s mentor & selts, 2019k mentor & selts</li>
                <li><strong>Rain Mürkhain</strong> - 2018k sise-selts, 2018s selts, 2019k selts</li>
                <li><strong>Johan Erik Pukk</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Hanna Heinloo</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Maret Sõmer</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Silver Spitsõn</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Ingrid Räästas</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Carmen-Ly Truu</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Bogdan Mihhailjuk</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Birgit Sõrmus</strong> - 2018s selts, 2019k selts</li>
                <li><strong>Marten Tamm</strong> - 2018s akadeemiline, 2019k selts</li>
            </ul>
            <h1>WIP teen andmebaasiga...</h1>
        </div>
    </div>
</section>