<header id="mentorlanding">
    <div class="container">
        <div class="content">
            <h1>Mentor<wbr>programm</h1>
            <p>Hei, vahva tudeng! <strong>9. - 13. september</strong> saab end registreerida menteeks!
            </p>
            <div class="buttons">
                <a class="btn green"
                   href="https://forms.gle/cLpSvEB5Jqc6vXrp7"
                   target="_blank" rel="noopener">Registreeri menteeks</a>
                <a class="btn blue"
                   href="https://drive.google.com/open?id=1BovhDGDhRdxTZ3qk91XC7JAQNXk3bo5v"
                   target="_blank" rel="noopener">Tutvu mentoritega</a>
                {{!--<a class="btn fb" href="https://www.facebook.com/events/407848033131184/" target="_blank"
                   rel="noopener">Vaata üritust Facebookis</a>--}}
            </div>
        </div>
    </div>
</header>
<section id="mentor2">
    <div class="container">
        <div class="content">
            <h2>Mentorprogrammi olemus ja töögrupp</h2>
            <p>Mentorprogrammi eesmärgiks on tagada, et iga matemaatika, matemaatilise statistika ja informaatika
                esmakursuslane elaks ülikooliellu sisse võimalikult sujuvalt, saades tuge ja nõu vanemkursuslaste käest.
                Mentorprogrammi töögrupp tegeleb mentorprogrammi arendamisega, viies kokku mentorid ja esmakursuslased,
                suurendamaks kursustevahelist põimumist. Lisaks tegeleb töögrupp motiveeritud mentorite otsimise ja
                toetamisega läbi koolituste ja koosolekute.</p>
        </div>
    </div>
</section>
<section id="mentor3">
    <div class="container">
        <div class="content">
            <h2>Mida saab mentorprogramm Sulle pakkuda?</h2>
            <details>
                <summary class="green">Olen esmakursuslane</summary>
                <article>
                    <h3>Mentorprogrammis osalenud leidsid, et mentorprogramm andis neile:</h3>
                    <ul>
                        <li>“Tutuvusi nii esimesest kui ka teiselt kursuselt ja häid nõuandeid, mis on kooliga
                            aidanud.”
                        </li>
                        <li>“Uusi tutvusi, kogemusi ning motivatsiooni õppida IT-d”</li>
                        <li>“League of Legendsi oskused”</li>
                        <li>“Head sõbrad ja tutvused. Mentorid on koolitööga ka aidanud.”</li>
                        <li>“Arusaamist, kuidas on parem õppida.”</li>
                    </ul>
                    <h3>Mida mentorgrupiga liitudes teha saab?</h3>
                    <p>Võimalusi on palju! Tuues paar näidet on varasemad mentorgrupid teinud koos järgnevat:</p>
                    <ul>
                        <li>progeõhtu;</li>
                        <li>kino;</li>
                        <li>LANid;</li>
                        <li>trenni tegemine – jõusaal, tantsimine, discgolf, bowling, uisutamine jms;</li>
                        <li>koosõppimine;</li>
                        <li>muusika tegemine;</li>
                        <li>lauamänguõhtu;</li>
                        <li>ööelu nautimine;</li>
                        <li>filmi- või pokkeriõhtu;</li>
                        <li>tudengipäevad;</li>
                        <li>raamatuõhtu;</li>
                        <li>põgenemistoad.</li>
                    </ul>
                    <h3>Miks liituda?</h3>
                    <ul>
                        <li>Saad abi ülikooliellu sujuvaks sisse sulandumiseks.</li>
                        <li>Leiad tuttavaid ja sõpru üle ülikooli.</li>
                        <li>Saad kamba inimesi, kellega koos teile ühiselt meeldivaid asju teha!</li>
                        <li>Mentorid aitavad ja toetavad Sind, kui kool üle jõu käib.</li>
                    </ul>
                    <h3>Kuidas protsess välja näeb?</h3>
                    <ol>
                        <li>Esita taotlus liitumaks mentorgrupiga. Taotluste esitamine algab sügisel.</li>
                        <li>Saadame Sulle emailile lingi, mille abil saad valida endale meelepäraseima(d)
                            mentorpaari(d).
                        </li>
                        <li>Kuulutame välja mentorgrupid ning ühine aeg grupiga saab alguse.</li>
                        <li>Veedad sügissemestril aega koos oma mentori(te) ja kaastudengitega.</li>
                        <li>Lõpetad semestri suure kogemuse võrra rikkamana.</li>
                    </ol>
                    <h3>Kuidas liituda?</h3>
                    <p>Registreerimine on võimalik alates 9. septembrist käesoleval lehel.</p>
                </article>
            </details>
            <details>
                <summary class="blue">Olen vanemkursuslane või võimalik mentor</summary>
                <article>
                    <h3>Mentorprogrammis kaasalöönud mentorite muljeid:</h3>
                    <ul>
                        <li>"Mulle andis mentorprogramm unustamatu sõpruskonna. Samuti õpetas mentorprogramm mu aega
                            paremini planeerima. Tihtilugu oli olukord, kus tegin kodutööd kõvasti enne ära, et saaksin
                            mentorgrupiga tegeleda või nendega jälle kokku saada."
                        </li>
                        <li>"Tänu mentorprogrammile leidsin uusi sõpru menteede ja kaasmentori näol."</li>
                    </ul>
                    <h3>Mida mentorgrupiga liitudes teha saab?</h3>
                    <p>Võimalusi on palju! Varasemad mentorgrupid on näiteks teinud koos järgnevat:</p>
                    <ul>
                        <li>lauamänguõhtu;</li>
                        <li>Tartu ööelu nautimine;</li>
                        <li>filmi- või pokkeriõhtu;</li>
                        <li>tudengipäevad;</li>
                        <li>raamatuõhtu;</li>
                        <li>põgenemistoad;</li>
                        <li>progeõhtu;</li>
                        <li>kino;</li>
                        <li>LANid;</li>
                        <li>koos trenni tegemine – jõusaal, tantsimine, discgolf, bowling, uisutamine jms;</li>
                        <li>koosõppimine;</li>
                        <li>muusika tegemine.</li>
                    </ul>
                    <h3>Miks liituda?</h3>
                    <ul>
                        <li>Leiad ägedaid tutvusi!</li>
                        <li>Saad kellegi ja ka iseenda ülikooli kogemust vägevamaks teha.</li>
                        <li>Võimalus saada 3 EAP-d valikainete alla: <a
                                href="https://ois2.ut.ee/#/courses/LTAT.00.011/version/cf761df5ffe0e4a539b17711cd537fcd/details"
                                target="_blank" rel="noopener">LTAT.00.011</a> (ainele ise registreerima ei pea, teid registreeritakse ainele siis, kui olete mentorprogrammi edukalt läbinud)
                        </li>
                    </ul>
                    <h2>Kuidas protsess välja näeb?</h2>
                    <ul>
                        <li>Registreeri end mentoriks. Mentorid pannakse programmi raames paaridesse. Kogemus näitab, et
                            sõbraga tulles on lõbu kahekordne.
                        </li>
                        <li>Leiame Sulle ägedad menteed.</li>
                        <li>Veedate koos menteedega semestrijagu aega koos.</li>
                    </ul>
                    <h3>Kuidas liituda?</h3>
                    <p>Liitumine 2019 sügissemestriks on lõppenud. Kui on sellegipoolest tugev soov mentoriks hakata, siis võta julgelt ühendust töögrupi liikmetega!</p>
                </article>
            </details>
        </div>
    </div>
</section>
<section id="mentor4">
    <div class="container">
        <div class="content">
            <h2>Programmi tervise eest hoolitsevad:</h2>
            <div class="peoplegrid">
                <div class="person">
                    <img alt="Alo Aasmäe" src="/media/liikmed/Alo.jpg">
                    <h3 class="name">Alo Aasmäe</h3>
                    <div class="role">Töögrupi juht</div>
                    <div class="email"><a href="mailto:aloaas@gmail.com">aloaas<wbr>@gmail.com</a></div>
                </div>
                <div class="person">
                    <img alt="Brigitta Rebane" src="/media/liikmed/Brigitta.jpg">
                    <h3 class="name">Brigitta Rebane</h3>
                    <div class="email"><a href="mailto:rebanebrigitta@gmail.com">rebanebrigitta<wbr>@gmail.com</a></div>
                </div>
                <div class="person">
                    <img alt="Katrin Raigla" src="/media/liikmed/Katrin.jpg">
                    <h3 class="name">Katrin Raigla</h3>
                    <div class="email"><a href="mailto:katrinraigla@gmail.com">katrinraigla<wbr>@gmail.com</a></div>
                </div>
                <div class="person">
                    <img alt="Hain Zuppur" src="/media/liikmed/Hain.jpg">
                    <h3 class="name">Hain Zuppur</h3>
                    <div class="email"><a href="mailto:h.zuppur@gmail.com">h.zuppur<wbr>@gmail.com</a></div>
                </div>
                <div class="person">
                    <img alt="Kairit Peekman" src="/media/liikmed/Kairit.jpg">
                    <h3 class="name">Kairit Peekman</h3>
                    <div class="email"><a href="mailto:kairit.peekman@gmail.com">kairit.peekman<wbr>@gmail.com</a></div>
                </div>
                <div class="person">
                    <img alt="Ott-Kaarel Martens" src="/media/liikmed/Ott-Kaarel.jpg">
                    <h3 class="name">Ott-Kaarel Martens</h3>
                    <div class="email"><a href="mailto:ottmartens@gmail.com">ottmartens<wbr>@gmail.com</a></div>
                </div>
            </div>
            <p class="topmargin center">Kas Sul on häid mõtteid või tagasisidet meile? <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSevsm6LJNu2_WwXUoJP7B4KPSga9ZZ_BW6Cpf0QrU9bD1gFYA/viewform?usp=sf_link"
                    target="_blank" rel="noopener">Jäta see siia.</a></p>
        </div>
    </div>
</section>