<h1>CMS</h1>
<p>Sisesta uus väärtus võtmele <b>{{ cmsField.key }}</b>:</p>
<form action="/admin/cms/update-field/{{ cmsField.id }}/" method="post" style="display: block">
    <textarea name="newValue" rows="15" cols="40" style="font-family: monospace">
        {{cmsField.value}}
    </textarea>
    <button type="submit">Salvesta</button>
</form>