<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">

        <meta name="description" content="Tartu Ülikooli matemaatika ja informaatika tudengeid ühendav erialaselts, mis tegutseb aktiivselt tudengite argipäeva elavdamise ja heaolu tagamisega."/>
        <meta name="keywords" content="MITS, MAT-INF tudengiselts, ATI, TÜ, Tartu Ülikool, matemaatika, mathematics, informaatika, computer science, society, mits.ee"/>
        <meta name="author" content="MITS">
        <meta name="viewport" content="width=device-width">

        <!-- https://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">

        <!-- https://moz.com/blog/meta-data-templates-123 -->
        <meta property="og:title" content="MAT-INF tudengiselts"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://www.mits.ee/"/>
        <meta property="og:image" content="https://i.imgur.com/OWOFOcS.png"/>
        <meta property="og:description" content="MAT-INF tudengiselts ehk MITS on Tartu Ülikooli matemaatika, matemaatilise statistika ja informaatika tudengeid ühendav erialaselts, mis tegutseb aktiivselt matemaatika-informaatika tudengite argipäeva elavdamise ja heaolu tagamisega."/>

        <!-- CSS -->
        <link rel="stylesheet" href="/adminpanel.css"/>
        <link rel="stylesheet" href="/fonts.css"/>
        <link
                rel="stylesheet"
                data-name="vs/editor/editor.main"
                href="/monaco-editor/vs/editor/editor.main.css"
        />
        <!-- JS -->
        <script src="/adminpanel.js"></script>
    </head>
    <body>
        <nav>
            <span>{{__ "greeting" user.username}}</span>
            <a href="/admin">Admin</a>
            <a href="/admin/cms">CMS</a>
            <a href="/admin/blogi">Blogi</a>
            <a href="/admin/liikmed">Liikmed</a>
            <a href="/admin/semestrid">Semestrid</a>
            <a href="/admin/tiimid">Töögrupid</a>
            <a href="/admin/kuulumised">Kuulumised</a>

            <a href="/">MITSi avaleht</a>
            <a href="/logout">Logi välja</a>
        </nav>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
