$dark: #333333;
$main: #0251AB;
$main-dark: #024386;

body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: $dark;

    display: grid;
    grid-template-columns: minmax(auto, 12rem) auto;
}

nav {
    background-color: $main;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    a, span {
        color: white;
        padding: 1rem;

        &:hover {
            background-color: $main-dark;
            text-decoration: none;
        }
    }
}

main {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;

    input, textarea {
        box-sizing: border-box;
        font-family: Open Sans, sans-serif;
        font-size: 1em;
        padding: 0.3rem;
    }
    textarea {
        max-width: 100%;
        min-width: 100%;
    }
    input[type="number"], input[type="text"] {
        width: 100%;
    }
    input[type="submit"] {
        grid-column: 1 / -1;
    }
}

a {
    color: #3498DB;
    text-decoration: none;
    &:hover {
        text-decoration: underline;

    }
}