body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  color: #333333; }

/* NAV */
nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  position: fixed;
  width: 100%; }
  nav .container {
    display: grid;
    grid-template-columns: 1% 99%;
    width: 1200px;
    margin: auto; }
    @media screen and (max-width: 1200px) {
      nav .container {
        width: 100%; } }
    nav .container #left {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    nav .container #right {
      justify-self: end;
      transition: height 0.7s ease;
      display: flex;
      overflow: hidden; }
      @media screen and (max-width: 640px) {
        nav .container #right {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          flex-direction: column;
          justify-self: auto;
          height: 0; }
          nav .container #right a, nav .container #right span {
            padding: 1rem; } }
    nav .container #button {
      grid-column: 2 / 3;
      grid-row-start: 1;
      justify-self: end;
      display: none; }
      @media screen and (max-width: 640px) {
        nav .container #button {
          display: block; } }
  nav a, nav span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    padding: 0 2rem;
    font-size: 1.1rem;
    transition: background-color 0.2s ease; }
  nav a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none; }
  nav #navlogo {
    background-image: url("/media/logo_tekstiga_valge.svg");
    height: 5rem;
    width: 9rem;
    transition: height 0.3s ease, width 0.3s ease; }
  nav #menubutton {
    cursor: pointer; }
  nav #menubuttonicon {
    background-image: url("/media/menu.svg");
    height: 2rem;
    width: 2rem; }

/* SECTIONS */
section h1, header h1, footer h1 {
  margin: 0 0 1rem;
  font-size: 2em; }

section .container, header .container, footer .container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1200px; }
  section .container .content, header .container .content, footer .container .content {
    padding: 80px;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 640px) {
      section .container .content, header .container .content, footer .container .content {
        padding: 80px 40px; } }
  @media screen and (max-width: 1200px) {
    section .container, header .container, footer .container {
      width: 100%; } }

section:first-child, header:first-child, footer:first-child {
  padding: 3rem 0 2rem; }

header#landing {
  color: white;
  background: linear-gradient(to bottom right, #a22be1 0%, #2a86ff 100%);
  overflow: hidden;
  position: relative;
  padding: 8rem 0 2rem;
  display: flex; }
  header#landing .container .content {
    display: flex;
    align-items: center;
    justify-content: center; }
  header#landing #animatedlogo {
    width: 100%;
    height: 24rem;
    z-index: 3;
    transition: transform 0.4s ease; }
  header#landing video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 1;
    object-fit: cover; }

section#description {
  background-color: #333333;
  color: white; }
  section#description p {
    font-size: 1.3rem;
    font-weight: 300; }
  section#description h1 {
    margin: 3rem 0 0;
    text-align: center; }
  section#description strong {
    font-weight: 700; }
  section#description .more {
    margin-top: 5rem;
    text-align: center; }

section#description .peoplegrid, section#juhatus .peoplegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem 10%;
  padding: 3rem 0 0; }
  section#description .peoplegrid .person, section#juhatus .peoplegrid .person {
    text-align: center; }
    section#description .peoplegrid .person h3, section#juhatus .peoplegrid .person h3 {
      margin: 1rem 0 0; }
    section#description .peoplegrid .person img, section#juhatus .peoplegrid .person img {
      width: 100%;
      border-radius: 50%; }
  @media screen and (max-width: 640px) {
    section#description .peoplegrid, section#juhatus .peoplegrid {
      grid-template-columns: 1fr;
      padding: 3rem 0 0; }
      section#description .peoplegrid .person img, section#juhatus .peoplegrid .person img {
        width: 60%; } }

section#events {
  background-color: #EEEEEE; }
  section#events h1:not(:first-child) {
    margin: 3rem 0 1rem; }
  section#events .eventgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 0; }
    section#events .eventgrid .event {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 1rem;
      background-color: white;
      border: 1px solid #DDDDDD; }
      section#events .eventgrid .event .thumbnail {
        width: 100%; }
      section#events .eventgrid .event .meta {
        margin: 1rem; }
        section#events .eventgrid .event .meta .title {
          margin: 0; }
        section#events .eventgrid .event .meta .date, section#events .eventgrid .event .meta .location {
          color: #777777;
          font-size: 0.9em;
          font-style: italic; }
      section#events .eventgrid .event .description {
        margin: 0 1rem 1rem;
        white-space: pre-wrap; }
      section#events .eventgrid .event .links {
        display: flex;
        margin: auto 1rem 0;
        justify-self: end; }
        section#events .eventgrid .event .links a {
          margin-right: 0.5rem; }
    @media screen and (max-width: 1200px) {
      section#events .eventgrid {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (max-width: 640px) {
      section#events .eventgrid {
        grid-template-columns: 1fr; } }

section#event {
  background-color: #EEEEEE; }
  section#event .event {
    background-color: white;
    border: 1px solid #DDDDDD;
    padding: 2rem;
    margin-top: 1rem; }
  section#event .title {
    margin: 0; }
  section#event .date, section#event .location {
    color: #777777;
    font-size: 0.8em;
    font-style: italic; }
  section#event .description {
    white-space: pre-wrap; }
  @media screen and (max-width: 640px) {
    section#event .thumbnail img {
      width: 100%; } }

section#blog {
  background-color: #EEEEEE; }
  section#blog .bloggrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 0; }
    @media screen and (max-width: 1200px) {
      section#blog .bloggrid {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (max-width: 640px) {
      section#blog .bloggrid {
        grid-template-columns: 1fr; } }

section#sponsors h1 {
  margin: 0 0 4rem; }

section#sponsors .sponsorgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem 2rem; }
  section#sponsors .sponsorgrid .sponsor {
    height: 7rem;
    transition: opacity 0.2s ease, transform 0.2s ease; }
    section#sponsors .sponsorgrid .sponsor:hover {
      opacity: 0.7;
      transform: scale(1.1) rotate(-3deg); }
  @media screen and (max-width: 1200px) {
    section#sponsors .sponsorgrid {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media screen and (max-width: 640px) {
    section#sponsors .sponsorgrid {
      grid-template-columns: 1fr 1fr; } }

section#sponsors #ati {
  background-image: url("/media/sponsors/ATI.svg"); }

section#sponsors #nortal {
  background-image: url("/media/sponsors/Nortal.svg"); }

section#sponsors #lhv {
  background-image: url("/media/sponsors/LHV.svg"); }

section#sponsors #playtech {
  background-image: url("/media/sponsors/Playtech.svg"); }

section#sponsors #cybernetica {
  background-image: url("/media/sponsors/Cybernetica.svg"); }

section#sponsors #helmes {
  background-image: url("/media/sponsors/Helmes.svg"); }

section#sponsors #futuruum {
  background-image: url("/media/sponsors/Futuruum.svg"); }

section#sponsors #wisemedia {
  background-image: url("/media/sponsors/Wisemedia.svg"); }

section#sponsors #mooncascade {
  background-image: url("/media/sponsors/Mooncascade.svg"); }

section#sponsors #cgi {
  background-image: url("/media/sponsors/CGI.svg"); }

section#sponsors #itakadeemia {
  background-image: url("/media/sponsors/IT Akadeemia.png"); }

section#aboutlanding {
  color: white;
  padding: 14rem 0 10rem;
  font-size: 1.3em;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), #0251AB url("/media/grillpidu.jpg") no-repeat fixed center;
  background-size: cover; }
  section#aboutlanding strong {
    font-weight: 700; }

section#juhatus {
  background-color: #EEEEEE; }

section#teams {
  background-color: #EEEEEE; }
  section#teams .teamgrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 6rem 10%;
    margin-top: 6rem; }
    section#teams .teamgrid .teamdescription h2 {
      margin: 0 0 1rem; }
    section#teams .teamgrid .person {
      text-align: center;
      font-size: 0.9em; }
      section#teams .teamgrid .person h3 {
        margin: 1rem 0 0; }
      section#teams .teamgrid .person img {
        width: 100%;
        border-radius: 50%; }
    @media screen and (max-width: 640px) {
      section#teams .teamgrid {
        grid-template-columns: 1fr;
        grid-row-gap: 3rem; }
        section#teams .teamgrid .person img {
          width: 60%; } }

/*.person img {
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.05);
    }
}*/
section#history {
  color: white;
  padding: 10rem 0 6rem;
  font-size: 1.3em;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), #0251AB url("/media/spacex.jpg") no-repeat fixed center;
  background-size: cover; }

section#members {
  font-size: 1.1em; }

section#membersgrid {
  background-color: #CCCCCC;
  display: grid;
  grid-template-columns: repeat(9, 1fr); }
  section#membersgrid img {
    width: 100%; }
  @media screen and (max-width: 1200px) {
    section#membersgrid {
      grid-template-columns: repeat(6, 1fr); } }
  @media screen and (max-width: 640px) {
    section#membersgrid {
      grid-template-columns: repeat(3, 1fr); } }

section#memberlist, section#alumnilist {
  padding: 6rem 0 2rem; }
  section#memberlist span::after, section#alumnilist span::after {
    content: ", "; }
  section#memberlist span:last-of-type::after, section#alumnilist span:last-of-type::after {
    content: ""; }

header#bloglanding {
  color: white;
  padding: 14rem 0 10rem;
  font-size: 1.3em;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), #0251AB url("/media/teras.jpg") no-repeat fixed center;
  background-size: cover; }

section#articles .container .content {
  display: flex; }

section#articles article {
  margin: 3rem 0; }
  section#articles article h1 {
    margin-bottom: 0.5rem; }
  section#articles article .meta {
    margin-bottom: 1.5rem; }
  section#articles article .date time {
    color: #777777;
    font-size: 0.8em;
    font-style: italic; }
  section#articles article .text {
    white-space: pre-wrap; }

section#login {
  background-color: #EEEEEE; }
  section#login form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center; }
    section#login form label {
      display: none; }
    section#login form input {
      margin: 0 0 0.5rem;
      display: block; }
    section#login form input[type="text"], section#login form input[type="password"] {
      font-size: 1.2em;
      background-color: white;
      border: 1px solid #DDDDDD;
      padding: 0.8rem; }
    section#login form input[type="submit"] {
      font-size: 1.2em;
      border-radius: 0; }
    @media screen and (max-width: 640px) {
      section#login form {
        width: 100%; } }

section#error {
  color: white;
  padding: 14rem 0 10rem;
  font-size: 1.3em;
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), #0251AB url("/media/error.jpg") no-repeat fixed center;
  background-size: cover; }

footer {
  background-color: #333333;
  color: rgba(255, 255, 255, 0.5); }
  footer .icon {
    background-color: rgba(255, 255, 255, 0.5); }
  footer .container .content {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  footer .footergrid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center; }
    footer .footergrid .column {
      display: flex;
      flex-direction: column;
      margin: 2rem; }
      footer .footergrid .column h2 {
        margin: 0 0 0.5rem; }
      footer .footergrid .column a {
        color: white; }
    footer .footergrid .wholerow {
      grid-column: 1 / -1; }
    @media screen and (max-width: 640px) {
      footer .footergrid {
        grid-template-columns: auto auto; }
        footer .footergrid .wide {
          grid-column: 1 / 3; } }
    footer .footergrid #footerlogo {
      background-image: url("/media/logo_tekstiga_valge.svg");
      height: 4rem;
      opacity: 0.5; }

/* GENERAL */
a {
  color: #3498DB;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.svg {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

input {
  font-family: "Open Sans", sans-serif; }

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.4em;
  border: 1px solid #CCCCCC;
  color: #333333;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease; }
  .btn:hover {
    text-decoration: none;
    background-color: #F0F0F0; }
  .btn.ghost {
    background-color: transparent;
    color: white;
    border: 1px solid white; }
    .btn.ghost:hover {
      text-decoration: none;
      background-color: white;
      color: #333333; }
  .btn.fb {
    background-color: #3B5998;
    color: white;
    border: none; }
    .btn.fb:hover {
      background-color: #013979; }
  .btn.green {
    background-color: #4CAF50;
    color: white;
    border: none; }
    .btn.green:hover {
      background-color: #388E3C; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  margin-bottom: -0.1em;
  mask-repeat: no-repeat;
  background-color: #777777; }
  .icon.email {
    -webkit-mask-image: url("/media/icons/email.svg");
    -ms-mask-image: url("/media/icons/email.svg");
    mask-image: url("/media/icons/email.svg"); }
  .icon.clock {
    -webkit-mask-image: url("/media/icons/clock.svg");
    -ms-mask-image: url("/media/icons/clock.svg");
    mask-image: url("/media/icons/clock.svg"); }
  .icon.facebook {
    -webkit-mask-image: url("/media/icons/facebook.svg");
    -ms-mask-image: url("/media/icons/facebook.svg");
    mask-image: url("/media/icons/facebook.svg"); }
  .icon.instagram {
    -webkit-mask-image: url("/media/icons/instagram.svg");
    -ms-mask-image: url("/media/icons/instagram.svg");
    mask-image: url("/media/icons/instagram.svg"); }
  .icon.marker {
    -webkit-mask-image: url("/media/icons/marker.svg");
    -ms-mask-image: url("/media/icons/marker.svg");
    mask-image: url("/media/icons/marker.svg"); }
  .icon.user {
    -webkit-mask-image: url("/media/icons/user.svg");
    -ms-mask-image: url("/media/icons/user.svg");
    mask-image: url("/media/icons/user.svg"); }

/*# sourceMappingURL=style.css.map */