$main: #0251AB;
$main-dark: #024386;
$grad1: #a22be1;
$grad2: #2a86ff;
$grad3: #e0e55f;
$grad4: #fc2da1;
$dark: #333333;
$light: #EEEEEE;
$mid: #666666;
$linkcolor: #2D70A9;

$break-small: 640px;
$break-big: 1200px;

@mixin responsive($size) {
    @if $size == small {
        @media screen and (max-width: $break-small) { @content; }
    }
    @else if $size == big {
        @media screen and (max-width: $break-big) { @content; }
    }
}

// https://css-tricks.com/snippets/sass/mixin-prefix-properties/
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: $dark;
}


/* NAV */
nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 10;
    position: fixed;
    width: 100%;

    .container {
        display: grid;
        grid-template-columns: 1% 99%;
        width: $break-big;
        margin: auto;

        @include responsive(big) {
            width: 100%;
        }

        #left {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        #right {
            justify-self: end;
            transition: height 0.7s ease;
            display: flex;
            overflow: hidden;

            @include responsive(small) {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                flex-direction: column;
                justify-self: auto;
                height: 0;

                a, span {
                    padding: 1rem;
                }
            }
        }

        #button {
            grid-column: 2 / 3;
            grid-row-start: 1;
            justify-self: end;
            display: none;

            @include responsive(small) {
                display: block;
            }
        }
    }

    a, span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        height: 100%;
        padding: 0 2rem;
        font-size: 1.1rem;
        transition: background-color 0.2s ease;
    }

    a:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-decoration: none;
    }

    #navlogo {
        background-image: url("/media/logo_tekstiga_valge.svg");
        height: 5rem;
        width: 9rem;
        transition: height 0.3s ease, width 0.3s ease;
    }

    #menubutton {
        cursor: pointer;
    }

    #menubuttonicon {
        background-image: url("/media/menu.svg");
        height: 2rem;
        width: 2rem;
    }
}



/* SECTIONS */
section, header, footer {
    h1 {
        margin: 0 0 1rem;
        font-size: 2em;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: $break-big;

        .content {
            padding: 80px;
            display: flex;
            flex-direction: column;

            @include responsive(small) {
                padding: 80px 40px;
            }
        }

        @include responsive(big) {
            width: 100%;
        }
    }

    &:first-child {
        padding: 3rem 0 2rem;
    }
}

header#landing {
    color: white;
    background: linear-gradient(to bottom right, $grad1 0%, $grad2 100%);
    overflow: hidden;
    position: relative;
    padding: 8rem 0 2rem;
    display: flex;

    .container {
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .halfgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6rem 6rem;
        align-items: center;

        @include responsive(small) {
            grid-template-columns: 1fr;
        }
    }

    #joininfo {
        z-index: 3;

        .btn {
            font-size: 2em;
            font-weight: bold;

            @include responsive(small) {
                display: block;
            }
        }
        h2 {
            font-weight: 300;
            margin: 2rem 0 3rem;
        }
    }


    #animatedlogo {
        width: 100%;
        height: 24rem;
        z-index: 3;
        transition: transform 0.4s ease;
    }

    video {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: 1;
        object-fit: cover;
    }
}

section#description {
    background-color: $dark;
    color: white;

    p {
        font-size: 1.3rem;
        font-weight: 300;
    }
    h1 {
        margin: 3rem 0 0;
        text-align: center;
    }
    strong {
        font-weight: 700;
    }

    .more {
        margin-top: 5rem;
        text-align: center;
    }
}

section#description, section#juhatus {
    .peoplegrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem 10%;
        padding: 3rem 0 0;

        .person {
            text-align: center;

            h3 {
                margin: 1rem 0 0;
            }
            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        @include responsive(small) {
            grid-template-columns: 1fr;
            padding: 3rem 0 0;
            .person img {
                width: 60%;
            }
        }
    }
}

section#events {
    background-color: $light;

    h1:not(:first-child) {
        margin: 3rem 0 1rem;
    }

    .eventgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        padding: 1rem 0;

        .event {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            //grid-row-gap: 1rem; // thanks chrome
            padding-bottom: 1rem;
            background-color: white;
            border: 1px solid #DDDDDD;

            .thumbnail {
                width: 100%;
            }

            .meta {
                margin: 1rem;

                .title {
                    margin: 0;
                }
                .date, .location {
                    color: $mid;
                    font-size: 0.9em;
                    font-style: italic;
                }
            }

            .description {
                margin: 0 1rem 1rem;
                white-space: pre-wrap;
            }

            .links {
                display: flex;
                margin: auto 1rem 0;
                justify-self: end;
                a {
                    margin-right: 0.5rem;
                }
            }

        }

        @include responsive(big) {
            grid-template-columns: 1fr 1fr;
        }

        @include responsive(small) {
            grid-template-columns: 1fr;
        }
    }

    .flexcenter {
        display: flex;
        justify-content: center;
        button {
            margin: 1rem;
            font-size: 1.1em;
        }
    }

}

section#event {
    background-color: $light;

    .event {
        background-color: white;
        border: 1px solid #DDDDDD;
        padding: 2rem;
        margin-top: 1rem;
    }
    .title {
        margin: 0;
    }
    .date, .location {
        color: $mid;
        font-size: 0.8em;
        font-style: italic;
    }
    .description {
        white-space: pre-wrap;
    }

    @include responsive(small) {
        .thumbnail img {
            width: 100%;
        }
    }
}

section#blog {
    background-color: $light;

    .bloggrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        padding: 1rem 0;

        @include responsive(big) {
            grid-template-columns: 1fr 1fr;
        }

        @include responsive(small) {
            grid-template-columns: 1fr;
        }
    }
}

section#sponsors {
    h1 {
        margin: 0 0 4rem;
    }

    .sponsorgrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5rem 2rem;

        .sponsor {
            height: 7rem;
            transition: opacity 0.2s ease, transform 0.2s ease;

            &:hover {
                opacity: 0.7;
                transform: scale(1.1) rotate(-3deg);
            }
        }


        @include responsive(big) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include responsive(small) {
            grid-template-columns: 1fr 1fr;
        }
    }

    #ati {
        background-image: url("/media/sponsors/ATI.svg");
    }
    #olerohkem {
        background-image: url("/media/sponsors/OLE ROHKEM.svg");
    }
    #nortal {
        background-image: url("/media/sponsors/Nortal.svg");
    }
    #lhv {
        background-image: url("/media/sponsors/LHV.svg");
    }
    #playtech {
        background-image: url("/media/sponsors/Playtech.svg");
    }
    #cybernetica {
        background-image: url("/media/sponsors/Cybernetica.svg");
    }
    #helmes {
        background-image: url("/media/sponsors/Helmes.svg");
    }
    #futuruum {
        background-image: url("/media/sponsors/Futuruum.svg");
    }
    #wisemedia {
        background-image: url("/media/sponsors/Wisemedia.svg");
    }
    #mooncascade {
        background-image: url("/media/sponsors/Mooncascade.svg");
    }
    #cgi {
        background-image: url("/media/sponsors/CGI.svg");
    }
    #itakadeemia {
        background-image: url("/media/sponsors/IT Akadeemia.svg");
    }
}

section#aboutlanding {
    color: white;
    padding: 10rem 0 6rem;
    font-size: 1.3em;
    //height: 100vh;
    display: flex;
    font-weight: 300;

    background:
            linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)),
            $main url("/media/grillpidu.jpg") no-repeat scroll center;
    background-size: cover;

    strong {
        font-weight: 700;
    }

    h1, p {
        text-shadow: 0.1rem 0.1rem 0.1rem black,
                     0.2rem 0.2rem 0.2rem black;
    }
}

section#juhatus {
    background-color: $light;
}

section#teams {
    background-color: $light;

    .teamgrid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 6rem 10%;
        margin-top: 6rem;

        .teamdescription {
            h2 {
                margin: 0 0 1rem;
            }
        }

        .person {
            text-align: center;
            font-size: 0.9em;
            h3 {
                margin: 1rem 0 0;
            }
            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        @include responsive(small) {
            grid-template-columns: 1fr;
            grid-row-gap: 3rem;

            .person img {
                width: 60%;
            }
        }
    }
}
/*.person img {
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.05);
    }
}*/

section#history {
    color: white;
    padding: 10rem 0 6rem;
    font-size: 1.3em;
    //height: 100vh;
    display: flex;
    font-weight: 300;

    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
            $main url("/media/spacex.jpg") no-repeat scroll center;
    background-size: cover;

    h1, p {
        text-shadow: 0.1rem 0.1rem 0.1rem black,
        0.2rem 0.2rem 0.2rem black;
    }
}


section#members {
    font-size: 1.1em;
}
section#membersgrid {
    background-color: #CCCCCC;

    display: grid;
    grid-template-columns: repeat(9, 1fr);

    img {
        width: 100%;
    }

    @include responsive(big) {
        grid-template-columns: repeat(6, 1fr);
    }

    @include responsive(small) {
        grid-template-columns: repeat(3, 1fr);
    }
}


section#memberlist, section#alumnilist {
    padding: 6rem 0 2rem;

    span::after {
        content: ", ";
    }
    span:last-of-type::after {
        content: "";
    }
}


header#bloglanding {
    color: white;
    padding: 14rem 0 10rem;
    font-size: 1.3em;
    //height: 100vh;
    display: flex;

    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
            $main url("/media/teras.jpg") no-repeat scroll center;
    background-size: cover;
}
section#articles {
    .container {
        .content {
            display: flex;
        }
    }

    article {
        margin: 3rem 0;

        h1 {
            margin-bottom: 0.5rem;
        }
        .meta {
            margin-bottom: 1.5rem;
        }
        .date time {
            color: $mid;
            font-size: 0.8em;
            font-style: italic;
        }
        .text {
            white-space: pre-wrap;
        }
    }
}


header#mentorlanding {
    color: white;
    padding: 12rem 0 6rem;
    font-size: 1.5em;
    text-align: center;
    display: flex;

    background:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
            $main url("/media/mentors.jpg") no-repeat scroll center;
    background-size: cover;

    .buttons {
        margin: 3rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .btn {
            margin: 0.5rem;
        }

        @include responsive(small) {
            flex-direction: column;
        }
    }

    @include responsive(small) {
        font-size: 1em;
        padding: 4rem 0 0;
    }
}

section#mentor2 {
    background-color: $dark;
    color: white;
    font-size: 1.1rem;
}

section#mentor3 {
    h1 {
        margin-bottom: 3rem;
    }

    font-size: 1.1rem;

    summary {
        font-size: 1.5rem;
        cursor: pointer;
        padding: 2rem;
        background-color: $light;
        border-radius: 1rem;
        font-weight: 700;
        color: white;

        &.green {
            color: #4CAF50;
        }
        &.blue {
            color: #2196F3;
        }
    }

    details {
        margin-bottom: 1rem;
        article {
            padding: 1rem 2rem;
        }
        &[open] {
            summary {
                border-radius: 0;
            }
            border: 1px solid $light;
        }
    }
}

section#mentor4 {
    background-color: $light;

    .peoplegrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem 10%;
        padding: 3rem 0 0;

        .person {
            text-align: center;

            h3 {
                margin: 1rem 0 0;
            }
            img {
                width: 100%;
                border-radius: 50%;
            }
            .email {
                word-break: break-word;
            }
        }

        @include responsive(small) {
            grid-template-columns: 1fr;
            padding: 3rem 0 0;
            .person img {
                width: 60%;
            }
        }
    }
}

section#login {
    background-color: $light;

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;

        label {
            display: none;
        }
        input {
            margin: 0 0 0.5rem;
            display: block;
        }
        input[type="text"], input[type="password"] {
            font-size: 1.2em;
            background-color: white;
            border: 1px solid #DDDDDD;
            padding: 0.8rem;
        }
        input[type="submit"] {
            font-size: 1.2em;
            border-radius: 0;
        }

        @include responsive(small) {
            width: 100%;
        }
    }
}


section#error {
    color: white;
    padding: 14rem 0 10rem;
    font-size: 1.3em;
    display: flex;
    background:
            linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
            $main url("/media/error.jpg") no-repeat scroll center;
    background-size: cover;
}


footer {
    background-color: $dark;
    color: rgba(255, 255, 255, 0.5);

    .icon {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .container {
        .content {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }

    .footergrid {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;

        .column {
            display: flex;
            flex-direction: column;
            margin: 2rem;

            .linkwrapper {
                padding: 0.5rem 0;
            }
            h2 {
                margin: 0 0 0.5rem;
            }

            a {
                color: white;
                padding: 0.5rem 0;
            }
        }

        .wholerow {
            grid-column: 1 / -1;
        }

        @include responsive(small) {
            grid-template-columns: auto auto;

            .wide {
                grid-column: 1 / 3;
            }
        }

        #footerlogo {
            background-image: url("/media/logo_tekstiga_valge.svg");
            height: 4rem;
            opacity: 0.5;
        }
    }
}



/* GENERAL */
a {
    color: $linkcolor;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.hidden {
    display: none!important;
}
.svg {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
input {
    font-family: "Open Sans", sans-serif;
}

.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border: 1px solid #CCCCCC;
    color: $dark;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease;

    &:hover {
        text-decoration: none;
        background-color: #F0F0F0;
    }

    &.ghost {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        &:hover {
            text-decoration: none;
            background-color: white;
            color: $dark;
        }
    }
    &.fb {
        background-color: #3B5998;
        color: white;
        border: none;
        &:hover {
            background-color: darken($main, 10%);
        }
    }
    &.green {
        background-color: #4CAF50;
        color: white;
        border: none;
        &:hover {
            background-color: #388E3C;
        }
    }
    &.blue {
        background-color: #2196F3;
        color: white;
        border: none;
        &:hover {
            background-color: #1976D2;
        }
    }
    &.gradient {
        background: linear-gradient(to bottom right, $grad3 0%, $grad4 100%);
        color: white;
        border: none;
        &:hover {
            background: linear-gradient(to bottom right, darken($grad3, 5%) 0%, darken($grad4, 5%) 100%);
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    margin-bottom: -0.1em; // <3
    mask-repeat: no-repeat;

    background-color: $mid;

    &.email {
        @include prefix(mask-image, url("/media/icons/email.svg"), webkit ms);
    }
    &.clock {
        @include prefix(mask-image, url("/media/icons/clock.svg"), webkit ms);
    }
    &.facebook {
        @include prefix(mask-image, url("/media/icons/facebook.svg"), webkit ms);
    }
    &.instagram {
        @include prefix(mask-image, url("/media/icons/instagram.svg"), webkit ms);
    }
    &.marker {
        @include prefix(mask-image, url("/media/icons/marker.svg"), webkit ms);
    }
    &.user {
        @include prefix(mask-image, url("/media/icons/user.svg"), webkit ms);
    }
}
.topmargin {
    margin-top: 4em;
}
.center {
    text-align: center;
}