$dark: #333333;
$main: #0251AB;
$main-dark: #024386;

body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: $dark;

    display: grid;
    grid-template-columns: minmax(auto, 12rem) auto;
}

nav {
    background-color: $main;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    a, span {
        color: white;
        padding: 1rem;

        &:hover {
            background-color: $main-dark;
            text-decoration: none;
        }
    }
}

main {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    margin: 1rem 0;

    input, textarea {
        box-sizing: border-box;
        font-family: Open Sans, sans-serif;
        font-size: 1em;
        padding: 0.3rem;
    }
    textarea {
        max-width: 100%;
        min-width: 100%;
    }
    input[type="number"], input[type="text"] {
        width: 100%;
    }
    input[type="submit"] {
        grid-column: 1 / -1;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: right;
    }
}

a {
    color: #3498DB;
    text-decoration: none;
    &:hover {
        text-decoration: underline;

    }
}

code {
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    border: 1px solid #DDDDDD;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    //max-height: 5rem;
    overflow-y: auto;
}

.collapsible {
    margin: 2rem 0;

    & > *:first-child {
        cursor: pointer;
        &::before {
            content: "[-]";
            margin-right: 0.5rem;
            font-weight: 400;
            font-family: monospace;
        }
    }

    &.collapsed {
        & > *:first-child::before {
            content: "[+]"
        }
        & > *:not(:first-child) {
            display: none;
        }
    }
}

.cms-pages {
    display: flex;
    .cms-page-container {
        margin: 0 30px;
        .cms-page {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 500px;
            background: #ededed;
            border-radius: 8px;

            a {
                font-size: 20px;
                flex-grow: 1;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                &:not(:last-child){
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}
