<section id="error">
    <div class="container">
        <div class="content">
            <h1>404 - Lehekülge ei leitud!</h1>
            <p>Kui siin peaks midagi olema, siis kirjuta juhatusele <a href="mailto:mitsmeedia@gmail.com">mitsmeedia@gmail.com</a> või lükka GitHubi issue: <a href="https://github.com/mits-ee/mits.ee/">https://github.com/mits-ee/mits.ee/</a>.</p>
        </div>
    </div>
</section>