<section id="aboutlanding">
    <div class="container">
        <div class="content">
            <h1>MAT-INF TUDENGISELTS</h1>
            <p><strong>MAT-INF tudengiselts</strong> ehk <strong>MITS</strong> on Tartu Ülikooli matemaatika, matemaatilise statistika ja informaatika tudengeid ühendav erialaselts, mis tegutseb aktiivselt oma teaduskondade tudengite argipäeva elavdamise ja heaolu tagamisega.</p>
            <p>Seisame selle eest, et ülikool ja reaalteaduste õppimine oleks enamat, kui pelgalt uute teadmiste omandamine.</p>
            <p>Meie värvikast sündmustepagasist leiab iga tudeng endale midagi meelepärast. Korraldame erinevad akadeemilisi üritusi (paneeldiskussioone, lektorite õhtuid, seminare ja töötubasid), uusi sõpru võib leida aga seltskonna- ning sotsiaalüritustel (lauamängu- ja filmiõhtutel, teemapidudel, LANidel, mälumängudel). Seejuures aitavad koolipingest vabaneda iganädalased trennid (jooksu-, jalgpalli-, korvpalli- ja võrkpallitrennid). Oleme ka esmakursuslastele mõelnud, kellele tutvustame õiget ülikoolielu mentorprogrammi abil. Iga päev sünnib aga värskeid ideid ning sündmuste nimekiri aina pikeneb.</p>
        </div>
    </div>
</section>
<section id="description">
    <div class="container">
        <div class="content">
            <p><strong>Missioon:</strong> MAT-INF tudengiseltsi missioon on korraldada mitmekesiseid sündmusi ning teha järjepidevat koostööd arvutiteaduste ja matemaatika-statistika instituudiga tagamaks tudengite hariduslikku heaolu.</p>
            <p><strong>Visioon:</strong> MAT-INF tudengiseltsi visioon on parendada iga MAT-INF tudengi heaolu ülikooliaja vältel ning anda kaasa vajalikud oskused, teadmised ja tutvused panustamaks Eesti ühiskonna jätkusuutlikkusse arengusse.
            </p>
        </div>
    </div>
</section>
<section id="juhatus">
    <div class="container">
        <div class="content">
            <h1>Juhatus</h1>
            <p>Juhatuse eesmärk on luua seltsis keskkond, kus tiimijuhtidel oleks meeldiv ja mugav koos oma töögrupiga korraldada just neile meelepäraseid üritusi. Hoolitseme välise suhtluse eest seltsi ja instituutide vahel ning otsime alati uusi väljundeid ning võimalusi, et ükski lennukas idee ei jääks teostuse taha pidama.</p>
            <div class="peoplegrid">
                <div class="person">
                    <img alt="Marten Türk" src="/media/liikmed/Placeholder.png">
                    <h3 class="name">Marten Türk</h3>
                    <div class="role">Esimees</div>
                </div>
                <div class="person">
                    <img alt="Alo Aasmäe" src="/media/liikmed/Alo.jpg">
                    <h3 class="name">Alo Aasmäe</h3>
                    <div class="role">Aseesimees</div>
                </div>
                <div class="person">
                    <img alt="Danver Hans Värv" src="/media/liikmed/Placeholder.png">
                    <h3 class="name">Danver Hans Värv</h3>
                    <div class="role">Finantsjuht</div>
                </div>
                <div class="person">
                    <img alt="Kristiina Krause" src="/media/liikmed/Kristiina.jpg">
                    <h3 class="name">Kristiina Krause</h3>
                    <div class="role">Sponsorlusjuht</div>
                </div>
                <div class="person">
                    <img alt="Carolin Lüübek" src="/media/liikmed/Placeholder.png">
                    <h3 class="name">Carolin Lüübek</h3>
                    <div class="role">Sotsiaalmeediajuht</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="history">
    <div class="container">
        <div class="content">
            <h1>Ajalugu</h1>
            <p>Esmakordselt sai MAT-INF tudengiselts alguse Taivo Pungase eestvedamisel 23. aprillil 2014. Kuni 2016. aasta lõpuni korraldas MITS erinevaid sündmusi ning seisis tudengite heaolu eest. Järelkasvu puudumise tõttu aga pandi pillid mõneks ajaks kotti.</p>
            <p>MITS taasasustati 20. aprillil 2018, kui 10 aktiivset noort võtsid südameasjaks oma teaduskondade tudengite elu värvikamaks muuta. Huvilisi leidus veelgi ning esimesed vägiteod saadeti korda 30-pealise tiimiga, millest esimene suursündmus oli networking-seminar Make MITS Great Again. Taasalustava organistsiooni kohta oli sündmus väga edukas - kohal käis ligikaudu 150 tudengit ning huvi seltsi vastu kasvas hüppeliselt. Tänaseks tegutseb MITSis juba {{amount}} aktiivset liiget. </p>
        </div>
    </div>
</section>
<section id="teams">
    <div class="container">
        <div class="content">
            <h1>Töögrupid</h1>
            <p>Meie lähenemine on, et erisugused sündmused nõuavad ka mitmeid vahvaid töögruppe. Seetõttu oleme jaotanud oma organisatsiooni liikmed just neile meeldivasse töögruppi. Iga töögrupi täpsematest suundadest saad lugeda juba altpoolt!</p>

            <div class="teamgrid">
                <div class="teamdescription">
                    <h2>Sisetiim</h2>
                    <p>Sisetiimi ülesanne on motiveerida kõiki MITSi tegevliikmeid edasisteks tegudeks. Oma tiimiga korraldame MITSi liikmeid ühendavaid sündmusi, kus nad saavad mõnusalt omakeskis aega veeta. Olgu nendeks kuumad saunaõhtud, popcornirikkad kinokülastused või särisevad grillpeod. Seeläbi loome ühtsema meeskonna, kellega koos informaatikute ja matemaatikute ülikooliaega elavdada.</p>
                </div>
                <div class="person">
                    <img alt="Peep Kolberg" src="/media/liikmed/Peep.jpg">
                    <h3 class="name">Peep Kolberg</h3>
                    <div class="role">Siseürituste tiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Seltskonnaürituste tiim</h2>
                    <p>Kas oled käinud kunagi sõpradega mõnel lauamänguõhtul või võtnud osa LANist? Kuidas oleks filmiõhtuga sõprade seltsis? Need üritused on vaid osake sellest, millega tegeleb seltskonnaürituste grupp. Oled oodatud meie sõbralikku seltskonda, kui sind huvitab ägedate ürituste korraldamine oma sõpradele ning teistele.</p>
                </div>
                <div class="person">
                    <img alt="Birgit Sõrmus" src="/media/liikmed/Birgit.jpg">
                    <h3 class="name">Birgit Sõrmus</h3>
                    <div class="role">Seltskonnaürituste tiimi juht</div>
                </div>

                <div class="teamdescription">
                    <h2>Akadeemiliste ürituste tiim</h2>
                    <p>Töögrupp korraldab põnevaid harivaid üritusi nagu erinevaid töötubasid ja seminare. Meie tiim annab Tartu matemaatika- ja informaatikatudengitele võimaluse harida ning arendada ennast oma valdkondades läbi mitmetahuliste sündmuste.</p>
                    <p>>Lisaks korraldame ka mentorprogrammi, mille eesmärgiks on tagada, et iga esmakursuslane elaks ülikooliellu sisse võimalikult sujuvalt, saades tuge ja nõu vanemkursuslaste käest.</p>
                    <p>Loe lähemalt <a href="/mentor">mentorprogrammi lehelt</a>.</p>
                </div>
                <div class="person">
                    <img alt="Tõnis Hendrik	Hlebnikov" src="/media/liikmed/Tõnis.jpg">
                    <h3 class="name">Tõnis Hendrik	Hlebnikov</h3>
                    <div class="role">Akadeemiliste ürituste tiimi juht</div>
                </div>

                <!-- FIXME: Mingi päris tekst -->
                <!--
                <div class="teamdescription">
                    <h2>Sotsiaalürituste töögrupp</h2>
                    <p>Nad teevad ka midagi</p>
                </div>
                <div class="person">
                    <img alt="Siim Maidla" src="/media/liikmed/Placeholder.png">
                    <h3 class="name">Siim Maidla</h3>
                    <div class="role">Seltskonnaürituste tiimi juht</div>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
