<header id="landing">
    <div class="container">
        <div class="content">
            {{!--{{> logosvg}}--}}
            <div class="halfgrid">
                {{> logosvg}}
                <div id="joininfo">
                    {{{ cmsFields.cta_text }}}
                </div>
            </div>
            <video autoplay muted loop>
                <source src="/media/landing_video_good.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</header>
<section id="description">
    <div class="container">
        <div class="content">
            {{{ cmsFields.people_container }}}
        </div>
    </div>
</section>
<section id="sponsors">
    <div class="container">
        <div class="content">
            {{{ cmsFields.sponsors }}}
        </div>
    </div>
</section>
<section id="sponsors">
    <div class="container">
        <div class="content">
            {{{ cmsFields.partners }}}
        </div>
    </div>
</section>
