name: Generate Cypress report

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  cypress-test:
    name: Cypress Tests

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install cypress and verify
        working-directory: website
        run: |
          npm ci
          $(npm bin)/cypress verify

      - name: Start server
        working-directory: website
        run: |
          cp sample.env .env
          docker-compose -f docker/development/docker-compose.yaml up -d

      - name: Wait for server
        uses: cygnetdigital/wait_for_response@v2.0.0
        with:
          url: 'http://localhost:8080/'
          responseCode: '200,500'
          timeout: 60000
          interval: 10000 
          
      - name: Run Cypress tests
        working-directory: website
        run: npm run cypress:run-ci
        continue-on-error: true

      - name: Generate HTML report
        working-directory: website
        run: npm run cypress:report

      - name: Copy files to commit folder
        working-directory: website
        run: |
          mv ./publicCypress/index.html ./publicCypress/${{ github.event.pull_request.head.sha }}/
          mv ./publicCypress/screenshots/ ./publicCypress/${{ github.event.pull_request.head.sha }}/screenshots/
          mv ./publicCypress/videos/ ./publicCypress/${{ github.event.pull_request.head.sha }}/videos/
          mv ./publicCypress/assets/ ./publicCypress/${{ github.event.pull_request.head.sha }}/assets/
        
      - name: Deploy report page to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./website/publicCypress

      - name: Print report page link
        run: echo https://snemvalts.github.io/mits.ee/${{ github.event.pull_request.head.sha }}
